<!DOCTYPE html>

<html>

<head>

    <title>Home - TocToc</title>

    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../static/css/home.css"> 

</head>

<body>

    <div id="chat"></div>

    <div id="espacoParaEnvioDeMensagens">

        <input type="text" id="message" placeholder="Digite uma mensagem">

        <button onclick="sendMessage()">Enviar</button>

    </div>

    <script src="../static/js/home.js"></script>

</body>

</html>
