<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TocToc - Login</title>

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">

    <link rel="stylesheet" href="..\static\css\index.css">

</head>

<body>

    <main>

        <img src="../static/images/logo.png" alt="Logo do Site" id="logo" width="60" height="60">

        <form>

            <label for="nickname" class="rotUsuario">Nickname:</label>

            <input type="text" id="nickname" class="inserirTexto">

            <label for="senha" class="rotSenha">Senha:</label>

            <input type="password" id="senha" class="inserirTexto">

            <button type="button" id="btEntrar">Entrar</button> 

            <button type="button" onclick="window.location.href='/cadastro'" id="btCadastrar">Cadastro</button> 

        </form>

        <div id="toastErrado" class="hidden">Nickname ou senha incorretos!</div>

    </main>

    <script type="module" src="../static/js/login.mjs"></script>

</body>

</html>