<!DOCTYPE html>

<html>

<head>

    <title>Login - TocToc</title>

    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>

    <img src="../static/images/logo.png" alt="Logo" width="100" height="100" id="logoPrincipal">
    
    <form>

        <label for="email" id="rotNickname">Nickname</label>
        
        <input type="text" id="nickname">

        <label for="senha" id="rotSenha">Senha</label>
        
        <input type="password" id="senha">

        <button type="button" id="btEntrar">Entrar</button>

        <button type="button" id="btCadastro">Cadastro</button>

    </form>

    <script src="../static/js/login.js"></script>

</body>

</html>
