<!DOCTYPE html>

<html>

<head>

    <title>Login - TocToc</title>

    <link rel="stylesheet" href="../static/css/login.css">

</head>

<body>
    
    <form>

        <label for="email">E-mail</label>
        
        <input type="text" id="email" placeholder="exemplo@outroexemplo.com">

        <label for="senha">Senha</label>
        
        <input type="password" id="senha" placeholder="*******">

        <button type="submit" id="btEntrar">Entrar</button>

    </form>

    <script src="../static/js/index.js"></script>

</body>

</html>
