body{

    margin: 0;

    background-color: rgb(100, 100, 100);

    font-family: monospace;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

}


main{
    
    display: flex;
    
    flex-direction: column;
    
    align-items: center;

}

form {

    padding: 30px; 

    border: 3px solid #333; 

    border-radius: 5px; 

    display: flex; 

    flex-direction: column; 
    
}

#logoPrincipal{

    padding: 10px;

    margin: 20px;

    border-radius: 5px;

    animation: girar 1s linear infinite;

}

@keyframes girar {

    0% {

        transform: rotate(0deg); 

    }

    50% {

        transform: rotate(180deg); 

    }

    100% {

        transform: rotate(360deg);
        
    }

}