@import url('./global.css');

#logo {

    margin: 2vh 0;

    animation: girar 1s infinite; 
    
}

main{
    
    display: flex;
    
    flex-direction: column;
    
    align-items: center;

}

form {

    padding: 30px; 

    border: 3px solid #333; 

    border-radius: 5px; 

    display: flex; 

    flex-direction: column; 
    
}

.inserirTexto {
    
    background-color: transparent; 

    color: #ffffff; 

    border: 2px solid rgb(255, 255, 255); 
    
    border-radius: 5px; 

    padding: 5px; 

    font-family: monospace; 

    font-weight: bold; 

}

#btEntrar, #btCadastrar {

    display: flex; 

    justify-content: center;

    align-items: center; 

    background-color: #000000;

    font-size: 15px;

    color: white; 

    cursor: pointer; 

    border-radius: 5px; 

    font-family: monospace; 

    border: 2px solid white;  

    padding: 10px; 

    margin-top: 20px;

    font-weight: bold; 

}

#btEntrar:hover, #btCadastrar:hover {

    background-color: aliceblue; 

    color: #000000; 

}

.rotUsuario, .rotSenha {

    color: #ffffff; 

    font-size: 15px; 

    margin-top: 10px;

}

#toastCerto, #toastErrado{

    display: none;

    background-color: #333;
    
    color: #fff;
    
    padding: 5px;
    
    position: fixed;
    
    left: 50%;
    
    top: 0;
    
    transform: translateX(-50%);
    
    border-radius: 5px;
    
}

#toastCerto{
    
    border: 2px solid #000000;

}

#toastErrado{
    
    border: 2px solid #ff0000;

}
